* {
    margin: 0;
    padding: 0;
}

a { 
    text-decoration: none; 
}

header {
    padding-top: 40px;
    padding-left: 375px;
    padding-right: 375px;
}

.top__description {
    padding-top: 160px;
    padding-bottom: 103px;
    padding-left: 352px;
}

.desc__buttons {
    padding-top: 37px;
}

.top__logo {
    padding-top: 97px;
    padding-left: 375px;
    padding-bottom: 96px;
}

.about {
    padding-top: 127px;
    padding-left: 375px;
}

.subtitle {
    padding-bottom: 20px;
}

.features {
    padding-left: 375px;
}

.services {
    padding-left: 375px;
}

.subtitle2 {
    padding-top: 92px;
    padding-left: 295px;
}

.service3 {
    padding-bottom: 100px;
}